# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env


_*.md

# OS specific files
.DS_Store
Thumbs.db

# Project Artifacts
*.log
output/
imgs/
learned_parameters.json
experience_buffer.json
*.png
docker_output.log

# VS Code / IDE
.vscode/
.idea/
