version: '3.8'

services:
  robot_sim:
    build: 
      context: .        # Builds using the Dockerfile in the binder folder
    container_name: robotics_lab
    network_mode: "host"
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      # Map the 'notebooks' folder from one level up into the container
      - ../notebooks:/home/jovyan/work/notebooks
    # Set the start point to the folder containing the script
    working_dir: /home/jovyan/work/notebooks
    command: python3 standalone_gui.py
